@using My3rdBlog.ViewModels
@model RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{  

}

@*<form class="sign-in-form" asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>User Name</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>

    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>       
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Sign Up" />
    </div>
</form>*@

<body id="login">
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="form-container">
                        <form class="form-horizontal" asp-controller="Auth" asp-action="Login" method="post">
                            <h3 class="title">Sign-Up</h3>

                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="E-mail" asp-for="Email">
                                <span asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Username" asp-for="UserName">
                                <span asp-validation-for="UserName"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Password" asp-for="Password">
                                <span asp-validation-for="Password"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Confirm Password" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <input class="btn signin" type="submit" value="Sign-Up" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>