body {
    margin: 0;
}

    body#login {
        margin: 0;
        background: repeating-linear-gradient(90deg,#fff,#a5cfed 10px,#f9f9f9 10px,#f9f9f9 20px);
    }


a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #293241;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }





/*/* Home/Index CSS */
.main-page {
    position: relative;
    height: 500px;
    background-position: center;
    background-size: cover;
    /*background-image: url(../content/static/black-and-white-of-typing-on-a-vintage-typewriter.jpg);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin: inherit;
}

    .main-page .title {
        color: #111;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        margin: 0 0 0;
        padding: 20px 30px;
        text-align: center;
    }

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}












/*Search Bar*/

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #43477c;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #81a4a7;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #43477c;
    background: #43477c;
    text-align: center;
    color: #43477c;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}













/*Article CSS*/
:root {
    --padding: 21px;
    --bg-color: white;
    --text-color: #0a643a;
    --accent-color: #a0bb2e;
    --font-family: 'Noticia Text';
    --font-display: 'Lalezar';
}

.post {
    position: relative;
    display: flex;
    height: 400px;
    width:380px;
}

    .post img {
        width: 100%;
        object-fit: cover;
    }


.post-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    max-width: 640px;
    margin: 0 auto;
    padding: var(--padding);
    color: #293241;
    background: var(--bg-color);
    font-family: var(--font-family);
    margin-bottom: 0;
}
post-title:after {
    content: '';
    display: block;
    height: 8px;
    background: var(--accent-color);
    max-width: 55px;
    transform: skewX(-21deg) translateY(-13px);
    border-radius: 3px;
}


.post-body {
    max-width: 640px;
    margin: 0 auto;
    padding: var(--padding);
    color: var(--text-color);
    background: var(--bg-color);
    font-family: var(--font-family);
    line-height: 2;
    font-size: 21px;
}

.no-shadow {
    box-shadow: none;
}








/*Comment Box CSS*/
@media (max-width: 800px) {
}





/*Pagination CSS*/
.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

    .pages a {
        background-color: #1c2351;
        color: #81a4a7;
        padding: 0.5rem 0.75rem;
        border: 1px solid #81a4a7;
        margin: 0 0.25rem;
        border-radius: 10px;
    }

        .pages a.active {
            background-color: #43477c;
        }

        .pages a:hover {
            background-color: #e3d1a7;
            text-decoration: none;
        }

.three-dots {
    line-height: 1;
    font-size: 24px;
}





/*Navbar css*/
.container {
    width: 100%;
    margin: auto;
    position: absolute;
}

.flexnav,
.flexnav ul {
    list-style: none;
    margin: 0;
}

.flexnav,
.menu-button {
    font-family: Lato, Helvetica, sans-serif;
    line-height: 1;
    background: #1c2351;
}

.flexnav {
    padding: 0;
    display: block;
    overflow: visible;
    width: 100%;
}

    .flexnav > li > a,
    .menu-button {
        padding: 18px 22px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .flexnav:after {
        content: "";
        display: table;
        clear: both;
    }

.menu-button {
    display: none;
    color: #e3d1a7;
    cursor: pointer;
}

.flexnav > li {
    float: left;
    display: block;
    position: relative;
}

.flexnav li a {
    color: #e3d1a7;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.flexnav > li > a {
    display: block;
    font-weight: 300;
    text-decoration: none;
}

.flexnav li a:hover {
    color: #fff;
}

.flexnav > .item-with-ul > a {
    padding-right: 66px;
}

touch-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
    z-index: 99;
    cursor: pointer;
    background: 0 0;
}

.touch-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border: 1px solid #7a8189;
    right: 13px;
    top: 13px;
    border-radius: 23px;
}

.touch-button::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    border-bottom: 1px solid #7a8189;
    border-left: 1px solid #7a8189;
    right: 21px;
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.flexnav li:hover > .touch-button::before,
.sm-screen .submenu-open::before {
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.flexnav li:hover > .touch-button::after,
.sm-screen .submenu-open::after {
    border-color: #fff;
}

.flexnav ul {
    position: absolute;
    left: 0;
    padding: 0;
}

    .flexnav ul ul {
        left: 244px;
        top: -1px;
    }

    .flexnav ul li {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        border-top: 1px solid #31353f;
    }

        .flexnav ul li a {
            background: #2b2f3a;
            padding: 12px 22px;
            display: block;
            width: 200px;
            text-decoration: none;
        }

    .flexnav ul .touch-button {
        width: 40px;
        height: 40px;
        border-left: 1px solid #31353f;
    }

        .flexnav ul .touch-button::after {
            top: 8px;
            right: 8px;
            width: 22px;
            height: 22px;
        }

        .flexnav ul .touch-button::before {
            right: 17px;
            top: 16px;
            height: 7px;
            width: 7px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

@media all and (max-width: 800px) {
    .flexnav {
        overflow: hidden;
        max-height: 0;
    }

        .flexnav.show {
            overflow: visible;
            max-height: 3000px;
        }

        .flexnav li {
            float: none;
        }

        .flexnav ul li a {
            width: auto;
            padding-left: 42px;
        }

        .flexnav > li {
            border-top: 1px solid #31353f;
        }

        .flexnav ul,
        .flexnav ul ul {
            position: relative;
            left: 0;
            width: 100%;
        }

        .flexnav.show .touch-button,
        .menu-button .touch-button {
            border-left: 1px solid #31353f;
            z-index: 999;
        }

        .flexnav ul .touch-button::before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 16px;
            top: 15px;
        }

    .menu-button {
        display: block;
    }

        .menu-button .touch-button::before {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
            border-left: 0;
            border-top: 2px solid #7a8189;
            border-bottom: 2px solid #7a8189;
            height: 2px;
            width: 12px;
            top: 22px;
        }

        .menu-button::after {
            display: block;
            width: 12px;
            height: 2px;
            content: "";
            position: absolute;
            background: #7a8189;
            right: 21px;
            top: 30px;
        }

    .flexnav ul ul li a {
        padding-left: 62px;
    }

    .flexnav ul ul ul li a {
        padding-left: 82px;
    }
}




/*Sign-In CSS*/

.form-container {
    font-family: Lato, Helvetica, sans-serif;
    padding: 0 0 0 0;
}

    .form-container .form-horizontal {
        background: repeating-linear-gradient(90deg,#fff,#a5cfed 10px,#f9f9f9 10px,#f9f9f9 20px);
        padding: 70px 40px 40px;
        border-radius: 0;
    }

.form-horizontal .title {
    color: #222;
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.form-horizontal .description {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px 0;
    display: block;
}

.form-horizontal .form-group {
    margin: 0 0 30px;
}

    .form-horizontal .form-group:nth-child(3) {
        margin-bottom: 20px;
    }

.form-horizontal .form-control {
    color: #446DCA;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px;
    padding: 2px 15px;
    border: 1px solid #e7e7e7;
    border-top-width: 2px;
    border-left-width: 2px;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

    .form-horizontal .form-control:focus {
        box-shadow: none;
        border-color: #446DCA;
    }

    .form-horizontal .form-control::placeholder {
        color: #222;
        font-size: 15px;
    }

.form-horizontal .btn {
    color: #fff;
    background-color: #446DCA;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    width: 180px;
    padding: 10px 30px;
    margin: 0 25px 0 0;
    border-radius: 30px;
    border: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

    .form-horizontal .btn:hover,
    .form-horizontal .btn:focus {
        color: #fff;
        background-color: #222;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        outline: none;
    }

    .form-horizontal .btn:after {
        content: '';
        height: 70%;
        width: 110%;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        transform: rotate(-50deg);
        position: absolute;
        right: -105px;
        top: -65px;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .btn:hover:after {
        right: -70px;
        top: -30px;
    }

.form-horizontal .signup {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 35px 0;
    vertical-align: text-top;
    display: inline-block;
}

    .form-horizontal .signup a {
        color: #446DCA;
        text-decoration: underline;
        margin: 0 0 0 25px;
    }

        .form-horizontal .signup a:hover {
            color: #000;
            transition: all 0.3s ease 0s;
        }

.form-horizontal .forgot {
    color: #446DCA;
    text-decoration: underline;
    display: block;
}

    .form-horizontal .forgot a {
        color: #446DCA;
        transition: all 0.3s ease 0s;
    }

        .form-horizontal .forgot a:hover {
            color: #222;
        }

@media only screen and (max-width:479px) {
    .form-container .form-horizontal {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-horizontal .title {
        font-size: 55px;
    }

    .form-horizontal .description {
        font-size: 16px;
    }

    .form-horizontal .form-control::placeholder {
        font-size: 14px;
    }

    .form-horizontal .btn {
        display: block;
        margin: 0 auto 20px;
    }

    .form-horizontal .signup {
        text-align: center;
        margin: 0 auto 20px;
        display: block;
    }

    .form-horizontal .forgot {
        text-align: center;
    }
}








/*Post */

.wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: space-around;
    max-width: 1200px;
}

.tile {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

    .tile img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }

    .tile .text {
        /*   z-index:99; */
        position: absolute;
        padding: 30px;
        height: calc(100% - 60px);
    }

    .tile h1 {
        font-weight: 300;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }

    .tile h2 {
        font-weight: 100;
        margin: 20px 0 0 0;
        font-style: italic;
        transform: translateX(200px);
    }

    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        /*   opacity:0; */
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.05);
}

    .tile:hover img {
        opacity: 0.2;
    }

    .tile:hover .animate-text {
        transform: translateX(0);
        opacity: 1;
    }

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

    .dots span {
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        display: block;
        opacity: 0;
        transition: transform 0.4s ease-out, opacity 0.5s ease;
        transform: translateY(30px);
    }

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}


@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}
